In [5]:
dog=["lion","cat","pet"]
d=[(s,n) for s in dog for n in dog]
print(s,n)

pet pet

In [15]:
c=''
l= "hello python"
for n in range(len(l)):
    c=c+l[len(l)-n-1]
    # c=0+11-1-1 ++
    # print(c)
print(c)

nohtyp olleh

In [24]:
c="hey"
for n in c:
    if n == 'e' :
        continue
    print(n)

h
y

In [42]:
c="fnvjfokdvsjklnsdkvhnvfjk"
for n in range(len(c)):
    if n%5==0 or n%3==0:
        continue
    print(n)

1
2
4
7
8
11
13
14
16
17
19
22
23

In [48]:
for t in range(22):
    if t%5==0:
        print("dived over 5 is "+str(t))
        continue
    print("not dived over 5 is "+ str(t))

dived over 5 is 0
not dived over 5 is 1
not dived over 5 is 2
not dived over 5 is 3
not dived over 5 is 4
dived over 5 is 5
not dived over 5 is 6
not dived over 5 is 7
not dived over 5 is 8
not dived over 5 is 9
dived over 5 is 10
not dived over 5 is 11
not dived over 5 is 12
not dived over 5 is 13
not dived over 5 is 14
dived over 5 is 15
not dived over 5 is 16
not dived over 5 is 17
not dived over 5 is 18
not dived over 5 is 19
dived over 5 is 20
not dived over 5 is 21

In [54]:
d ={'name':'ahmed','age':'35','job':'doct'}
for j in d.items():
  
    print(j)

('name', 'ahmed')
('age', '35')
('job', 'doct')

In [55]:
d ={'name':'ahmed','age':'35','job':'doct'}
for x,y in d.items():
    print(x)
    print(y)

name
ahmed
age
35
job
doct

In [57]:
d ={'name':'ahmed','age':'35','job':'doct'}
for x in d.keys():
    print(x)
print("###########################")
for y in d.values():
    print(y)

name
age
job
###########################
ahmed
35
doct

In [58]:
for i ,v in enumerate(['tic','tac','toc']):
    print(i,v)

0 tic
1 tac
2 toc

In [61]:
# concatination 2 list
questions= ['what is your name ','where are you form ','how old are you ']
answers=['bilel','tunis',31]
for x,y in zip(questions,answers):
    print(x+" "+str(y))

what is your name  bilel
where are you form  tunis
how old are you  31

In [65]:
a=[i for i in range(200)if i%5==0]
print(a)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195]

In [68]:
a=[n**2 for n in range(12)]
print(a) 
c=[(i,j)for i in range(5) for j in range(6)]
print(c)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]
[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5)]

In [69]:
A=[(a**3,b+4)for a in range(3)for b in range(4)]
print(A)

[(0, 4), (0, 5), (0, 6), (0, 7), (1, 4), (1, 5), (1, 6), (1, 7), (8, 4), (8, 5), (8, 6), (8, 7)]

In [71]:
a=[(a*2,b**2 )for  a in range(3)for b in  range(5)]
print(a)

[(0, 0), (0, 1), (0, 4), (0, 9), (0, 16), (2, 0), (2, 1), (2, 4), (2, 9), (2, 16), (4, 0), (4, 1), (4, 4), (4, 9), (4, 16)]

In [72]:
for x in range(10):
    print(x)
else:
    print('done')

0
1
2
3
4
5
6
7
8
9
done

In [73]:
print(sum([1/n for n in range(1,11,1)]))

2.9289682539682538

In [75]:
a=sum([3*(k**2)for k in range(1,11,2)])
print(a)

495

In [78]:
a=[y**2 for y in [n*9 for n in range(10)]] 
e=[n*9 for n in range(10)]
print(e)
print(a)

[0, 9, 18, 27, 36, 45, 54, 63, 72, 81]
[0, 81, 324, 729, 1296, 2025, 2916, 3969, 5184, 6561]

In [1]:
while True :
 a=int(input('saisie number :' ))
 if a>15 :
    print("yes")
    break
 else :
    print('no')
print('end')

In [1]:
a = int(input("saisie valeur : "))
while a <= 5:
    print('yes')
    a +=1

In [ ]:
n=int(input)